aiofiles>=25.1.0
alembic>=1.18.4
asyncpg>=0.31.0
fastapi>=0.136.1
fastapi-mail>=1.6.4
passlib[argon2]>=1.7.4
pydantic-settings>=2.14.1
python-dotenv>=1.2.2
python-jose[cryptography]>=3.5.0
python-multipart>=0.0.28
slowapi>=0.1.9
sqlalchemy[asyncio]>=2.0.49
uvicorn[standard]>=0.47.0
